server:
  port: 8081

spring:
  application:
    name: HOTEL-SERVICE
    
  datasource:
    url: jdbc:mysql://localhost:3306/microservice
    username: root
    password: '0721'
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
   hibernate:
    ddl-auto: update
   show-sql: true
   properties:
    hibernate:
     dialect: org.hibernate.dialect.MySQL8Dialect
     
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:9095/eureka     
   